{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of Books</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="keywords" content="Books, recent, Learning, library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    <link rel="icon" href="{% static 'qu-icon.png' %}">
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <a href="{% url 'books.index' %}">Home</a>
        <a href="{% url 'books.list_books' %}">List Books</a>
        <a href="{% url 'books.aboutus' %}">About</a>
    </div>

    <h1>List of Books</h1>
    <a href="{% url 'books.view_one_book' 1 %}"><h2>Internet & world wide Web How to Program</h2></a>
    <a href="{% url 'books.view_one_book' 1 %}"><img src="{% static 'book1.jpg' %}" alt="Book1 img desc" width="200" height="200"></a>
    <hr>

    <h2>2) C++ How to Program, Late Objects Version</h2>
    <img src="{% static 'book1.jpg' %}"> alt="Book2 img desc" width="200" height="200">
    <hr>

    <h2>3) Images in Another Folder</h2>
  <img src="{% static 'book1.jpg' %}"> alt="Book3 img desc" width="200" height="200">
    <hr>
</body>
</html>